/*UNIVERSAL STYLES */

html {
  font-size: 18px;
  color: white;
  font-family: Helvetica;
  /*text-align: center just in case remove this along with text-align in footer-content */

}

.container {  /* change to container only */
  max-width: 960px;
  margin: 0 auto;
}



/* HEADER SECTION */

.company-name {
  background-color: black;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

.company-name .container {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.5rem;
  margin-left: .5rem;
  margin-right: 1rem;
}



/* MAIN SECTION */


.company-section {
  background-image:
    url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  /*width: auto; */  /*check this if setting width changes anything in mobile mode */
}

.company-section .container {
  position: relative;
  top: 9rem;
}

.headline {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
}

.headline h3,
.headline h1 {
  font-weight: bold;
}

.headline h1 {
  font-size: 2rem;
  margin-top: .25rem;
}


/* MENU SECTION */

.mobile {
  display: none;
}


.menu-section {
  background-color: firebrick;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

nav ul {    /* USING EITHER .menu-section ul {} -or- .menu-section .container {} WILL DISPLAY "MENU" TEXT */
  display: flex;
  justify-content: space-between;
}



/* INVENTORY SECTION */


.inventory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.contact {
  display: flex;
  justify-content: space-between;
}


.text {
  background-color: black;
}

/* CONTACT SECTION */


.info h3 {
  color: black;
}

.info {
  width: 30%;
}

.info .contact-text {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/* FOOTER SECTION */

.copyright {
  margin: 2.5rem 0;
  background-color: black;
  padding: 5rem;
}

.copyright .container {
  text-align: left;
}
