/*UNIVERSAL STYLES */

html {
  font-size: 18px;
  color: white;
  font-family: Helvetica;
  /*text-align: center just in case remove this along with text-align in footer-content */

}

.container {  /* change to container only */
  max-width: 960px;
  margin: 0 auto;
}



/* COMPANY-NAME SECTION */

.company-name {
  background-color: black;

}

.company-name .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem .5rem;
}

.logo {
  height: 1.5rem;
  margin-right: 1rem;
}



/* MAIN SECTION */


@media only screen and (max-width: 470px) {
  .company-section {
    max-height: 15rem;
  }

  .company-section .container {
    top: 10rem;
  }

  .container .headline {
    width: 100%;
    padding: 1rem 0 1rem 2rem;
  }

  .container .headline h1 {
  font-size: 1rem;
}

  .container .headline h3 {
    font-size: .77rem;
  }

}


.company-section {
  background-image:
    url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.company-section .container {
  position: relative;
  top: 9rem;
}

.headline {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
}

.headline h3,
.headline h1 {
  font-weight: bold;
}

.headline h1 {
  font-size: 2rem;
  margin-top: .25rem;
}


/* MENU SECTION */

@media only screen and (max-width: 1024px) {
  .menu-section ul {
    display: none;
  }

  .menu-section .mobile {
    display: block;
    text-align: center;
  }
}


.mobile {
  display: none;
}


.menu-section {
  background-color: firebrick;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

nav ul {    /* USING EITHER .menu-section ul {} -or- .menu-section .container {} WILL DISPLAY "MENU" TEXT */
  display: flex;
  justify-content: space-between;
}



/* INVENTORY SECTION */


@media only screen and (max-width: 1024px) {
  .inventory .product {
    width: 47%;
  }

  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .watch,
  .glasses {
    display: none;
  }

  .inventory .product {
    width: 90%;
    margin: 0 auto;  /* this will center the div in the screen */
  }

}


.inventory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black; /*this sets the div of the img and not the div including the img + text*/
  height: 9rem;   /*this sets the height limit for the image inside the div*/
  padding: 2rem;  /*this sets padding (space) around the image*/
}

.product img {
  /*height: 9rem*/ /* if this was set the image would be unproportional*/
  max-width: 8rem;
}

.text {
  background-color: black;
  padding: .5rem 0 .5rem 0;
  text-align: center
}



/* CONTACT SECTION */


.info h3 {
  color: black;
}

.info {
  width: 30%;
}

.contact {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 470px) {
  .container .info {
    width: 90%;
    margin: .5rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}

.info .contact-text {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/* FOOTER SECTION */

.copyright {
  margin: 2.5rem 0;
  background-color: black;
  padding: 5rem;
}

.copyright .container {
  text-align: left;
}

@media only screen and (max-width: 470px) {
  .copyright .container {
    text-align: center;
  }
}
